<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.neerajtuteja"
    version         = "1.0.0">
    <name>Export VCFs to File</name>
    <description> Export all contacts (device, Google, Facebook etc.) in VCF formats to a file </description>    
    <author href="http://github.com/neerajtuteja" email="eteroul+cordova@gmail.com"> Neeraj Tuteja   </author>
    <access origin="*">
    <content src="index.html" />

    <preference name="loglevel" value="DEBUG"/>
    <preference name="useBrowserHistory" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <feature name="ExportVCFsToFile">
        <param name="android-package" value="org.apache.cordova.plugin.ExportVCFsToFilePlugin" />
    </feature>
</widget>
